/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .nav-link {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  /*font-size: 17px;*/
}

.topnav-mobile .nav-link-mobile {
  display: block;
  color: black;
  padding: 5px 10px;
}

.topnav-mobile .nav-link-mobile:hover, .topnav-mobile .active {
  color: #0fa2e2;
  border-left: 2px solid #1890ff;
  border-bottom: none;
}

/* Change the color of links on hover */
.topnav .nav-link:hover, .topnav .active {
  color: #0fa2e2;
  border-bottom: 2px solid #1890ff;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .nav-collapse {
  display: none;
  color: #000;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav .nav-link {display: none;}
  .topnav a.nav-collapse {
    float: right;
    display: block;
  }
}

.external-link{
  float: right !important;
}