.error-container {
  text-align: center;
}
.error-container h1 {
  font-size: 15em;
  margin-bottom: 5px;
  margin-top: 50px;
}

.error-container .text-message {
  font-size: 2em ;
  margin-bottom: 5px;
}

.error-container .text-details {
  font-size: 1em;
}