.registration{
  background-color: #f0f2f5;
  min-height: 100vh;
  .reg-header, .reg-footer {
    .reg-header-content, .reg-footer-content{
      display: table-cell;
      vertical-align: middle;
    }
    h1, h2, h3, h4, h5, h6, p {
      color: rgba(255, 255, 255, 0.9);
    }
    h1{
      font-size: 2rem
    }
  }
  .reg-header > .ant-card-body {
    min-height: 250px;
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url("../img/Foto2.jfif") center center / cover no-repeat;
    text-align: center;
    display: table;
    width: 100%;
  }
  .reg-footer > .ant-card-body {
    min-height: 100px;
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url("../img/Foto2.jfif") center center / cover no-repeat;
    text-align: center;
    display: table;
    width: 100%;
  }
}