@import '~antd/dist/antd.css';

.layout {
  position: relative;
  min-height: 100vh;
  .logo {
    height: 48px;
    background: rgba(255,255,255,.2);
    margin: 8px 24px 8px 0;
    float: left;
  }
}

.mt-30{
  margin-top: 30px;
}
.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}

@import "login";
@import "home";
@import "header";
@import "register";
@import "registration";
@import "profile";
@import "notFound";
@import "interviewDate";
@import "exam";